.vs
/*.sublime-workspace
bin
obj
*.user
*.suo
Debug
Release

Apps.VoiceValidator/*.sdf

Test.CPP/*.sdf
Test.CPP/ipch

Web.ASGeo/ASGeo.Publish.xml

_Dist

/Educ.Database/00_backups/**

/packages/**
!/packages/repositories.config