<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net45" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net45" />
  <package id="Accord.Neuro" version="3.0.2" targetFramework="net45" />
  <package id="GeneticSharp" version="1.0.100" targetFramework="net45" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2100" targetFramework="net45" />
  <package id="OxyPlot.WindowsForms" version="1.0.0-unstable2100" targetFramework="net45" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>