<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net461" />
  <package id="GeneticSharp" version="1.0.100" targetFramework="net461" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net461" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net461" />
</packages>